/* Global Styles */
body {
    font-family: 'Elnath', Arial, sans-serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    height: 0rem;
    background-color:#0056a4;
}


header {
    background: linear-gradient(to right,  rgba(45, 255, 245, 20), rgba(255, 248, 120, 1));
    color: #000000;
    text-align: center;
    height: 100px;      
    width: 100%;
    padding: 10px;
  }

header img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

header img:hover{
    transition: .5s;
    transform: scale(1.05);
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.subject-button {
    text-align: center;
    margin: 20px;
    width: 29%;
    cursor: pointer;
    border: 5px solid #000000;
    border-radius: 30px;
    overflow: hidden;
    transition: transform 0.2s;
    background:linear-gradient(to top left , rgba(255, 132, 0, 1), rgba(251, 23, 61, 1), rgba(126, 0, 126, 1) , rgba(0, 0, 255, 1));
  
}



.subject-button:hover {
    transition: .3s;
    transform: translate(8px,-8px);
    box-shadow: -8px 8px 0px rgb(0, 0, 0); /* Adjust color for hover effect */
  
}

.subject-button img {
    display: block;
    margin: 0;
    max-width: 100%;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background: linear-gradient(to left,  rgba(45, 255, 245, 20), rgba(255, 248, 120, 1));
    color: rgb(0, 0, 0);    
    font-size: 25px;
}

.social a {
    text-decoration: none;
}

.social img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    transition: transform 0.4s;
}

.social a:hover img {
    transform: scale(1.2);
}

.button-container {
    display: flex;
}

.big-button {
    font-size: 18px;
    cursor: pointer;
    border: 0px solid #000000;
    border-radius: 20px;
    margin: 10px;
    transition: transform 0.2s;
    overflow: hidden;
    width: 49%;
    height: 60vh;
    background:linear-gradient(to top left , rgba(255, 132, 0, 1), rgba(251, 23, 61, 1), rgba(126, 0, 126, 1) , rgba(0, 0, 255, 1));
}

.big-button img {
    max-width: 120%;
    height: 100%;
    display: block;
    border-radius: 30px;
}

.big-button:hover {
    transition: .3s;
    transform: translate(8px,-8px);
    box-shadow: -8px 8px 0px rgb(0, 0, 0); /* Adjust color for hover effect */
  
}

/* Styles specific to the chapter section */
main.grid {
    display: grid;
    grid-template-columns: repeat(3, 29%);
    gap: 10px;
    justify-content: center;
    margin: 1% 10%;
}

.chapter-button {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    cursor: pointer;
    border: 2px solid #000000;
    border-radius: 10px;
    margin: 10px;
    transition: transform 0.2s;
    background:linear-gradient(to top left , rgba(255, 132, 0, 1), rgba(251, 23, 61, 1), rgba(126, 0, 126, 1) , rgba(0, 0, 255, 1));
    color: #000000;
    text-decoration: none; /* Remove underline */
}

.chapter-button:hover {
    transition: .2s;
    transform: translate(8px,-8px);
    box-shadow: -8px 8px 0px rgb(0, 0, 0); /* Adjust color for hover effect */
  
}

footer.grid {
    text-align: center;
    padding: 10px;
    background-color:transparent;
    color: rgb(0, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p:hover {
    transform: scale(1.1);
    transition: .5s ease-in-out;

}

@font-face {
    font-family: 'Elnath';
    src: url('C:/Users/abc/Downloads/code/ELNATH.otf') format('opentype'),
    url('C:/Users/abc/Downloads/code/ELNATH.ttf') format('truetype');

      
    /* Add more formats if necessary */
  }

  